# Created by https://www.gitignore.io/api/hugo,firebase,visualstudiocode

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc
### Hugo ###
hugo.exe
/public/
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# End of https://www.gitignore.io/api/hugo,firebase,visualstudiocode